<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DepoYonetimSistemi</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- Admin Layout CSS -->
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>

<body>

    <!-- TOP BAR -->
    <div class="top">
        <h1>DEPO YÖNETİM PANELİ</h1>
    </div>

    <!-- SIDEBAR -->
    <div class="sidenav">
        <li><a class="dropdown-item" asp-controller="Home" asp-action="Index"><i class="fa fa-home" aria-hidden="true"></i>  Ana Sayfa</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" asp-controller="Profile" asp-action="Index"><i class="fa fa-cogs" aria-hidden="true"></i>  Yönetim Paneli</a></li>
        <br>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" asp-controller="Products" asp-action="Create"><i class="fa fa-plus-square" aria-hidden="true"></i>  Ürün Ekle</a></li>
        <li><a class="dropdown-item" asp-controller="Products" asp-action="Remove"><i class="fa fa-minus-square" aria-hidden="true"></i>  Ürün Çıkar</a></li>
        <br>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" asp-controller="Transactions" asp-action="Index"><i class="fa fa-pencil" aria-hidden="true"></i>  Kayıtlar</a></li>
        <br>
        <li><hr class="dropdown-divider" /></li>
        <li class="log-out"><a class="dropdown-item" asp-controller="Home" asp-action="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i></i>  Çıkış Yap</a></li>
    </div>

    <!-- MAIN CONTENT -->
    <main class="main">
        @RenderBody()
    </main>

    <!-- SCRIPTS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
