<div class="container-fluid ps-md-0">
  <form class="card" asp-action="Login" method="post">
    <h1>Hesabına Giriş Yap</h1>

    <label for="floatingInput">Kullanıcı Adı</label>
    <input type="text" name="UserName" class="form-control" id="floatingInput">

    <label for="floatingPassword">Şifre</label>
    <input type="password" name="Password" class="form-control" id="floatingPassword">

    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Giriş Yap </button>

    <p style="color:red;">@ViewBag.ErrorMessage</p>
  </form>
</div>

@{
  Layout = "~/Views/Shared/_LoginLayout.cshtml";
}