.user-check{
    text-align: center;
}

.TableHeader{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:16px;
  margin-bottom:16px;
}

.Buttons{
  display:flex;
  gap:10px;
}

.styled-table {
  overflow-x: auto;
  width: 97%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: 10px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: var(--bg-start);
  color: #000000;
}

.styled-table th,
.styled-table td {
  padding: 15px 24px;
  line-height: 12px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--bg-start);
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}