html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Sol sidepanel */
.sidepanel {
    position: fixed;      /* Ekrana sabit */
    top: 0;
    left: 0;
    height: 100vh;        /* Tüm ekran boyunca */
    width: 0px;             /* Başta kapalı olsun */
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;     /* Açılıp kapanma animasyonu */
    z-index: 1000;        /* Tablonun üstünde dursun */
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    display: block;
    text-decoration: none;
    color: #f1f1f1;
    font-size: 18px;
}

.sidepanel .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 36px;
}

/* Buton biraz içeride olsun */
.openbtn {
    margin-top: 10px;
    margin-bottom: 10px;
}