html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Sol sidepanel */
.sidepanel {
    position: fixed;      
    top: 0;
    left: 0;
    height: 100vh;
    width: 0px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
    z-index: 1000;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    display: block;
    text-decoration: none;
    color: #f1f1f1;
    font-size: 18px;
}

.sidepanel .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 36px;
}

/* Buton */
.openbtn {
    margin-top: 10px;
    margin-bottom: 10px;
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    font-family: Helvetica; 
    -webkit-font-smoothing: antialiased; 
}
h2{
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    padding: 30px 0;
}

/* Tablo still */

.Table{
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.Table-Table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.Table-Table th {
    text-align: center;
    padding: 8px;
}
.Table-Table td {
    text-align: left;
    padding: 5px;
}

.Table-Table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.Table-Table thead th {
    color: #ffffff;
    background: #4FC3A1;
}

.Table-Table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.Table-Table tr:nth-child(even) {
    background: #F8F8F8;
}
